:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 2em;
  background: linear-gradient(0deg, transparent 40%, var(--ddf-black) 100%);
}

.main {
  padding: 2em;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}