:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 2em;
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}

.header {
  align-self: flex-end;
  margin-bottom: 1em;
}

.main {
  padding-top: 0em;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// @media screen and (max-width: 640px) {
//   .header {
//     width: 100%;
//   }
// }