<h2>Impressum & Datenschutz</h2>
<p>Die Website bzw. Progressive Web App (PWA) ist ein gemeinnütziges Open Source Projekt von <a href="https://www.jakob.fyi" target="_blank">Jakob Vesely</a>.</p>

<h3>Datenschutz</h3>
<p>Es werden <strong>keinerlei</strong> Daten erhoben, auch keine anonymisierten Nutzungssatatistiken oder Ähnliches!</p>

<h3>Medieninhaber & Entwickler</h3>
<p>
  Jakob Vesely<br>
  <a href="mailto:contact@jakob.fyi">contact@jakob.fyi</a><br>
  Neubaugasse 17<br>
  3133 Gemeinlebarn<br>
  Österreich
</p>

<button type="button" routerLink="/">Zurück</button>