:root {
  --ddf-black: #000000;
  --ddf-white: #fefefe;
  --ddf-red: #ea141f;
  --ddf-blue: #00acec;
  --ddf-font: 'Roboto Condensed', Arial, Helvetica, sans;

  --spotify-green: 29, 185, 84;

  --link-background-color: rgba(255, 255, 255, 0.2);
  --link-background-color-active: rgba(0, 0, 0, 0.3);
}

.text-ddf-red {
  color: var(--ddf-red);
}

.text-ddf-blue {
  color: var(--ddf-blue);
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  touch-action: manipulation;
}

html,
body {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  background: rgb(29, 185, 84);
  background: linear-gradient(135deg, var(--ddf-black) 0%, rgb(var(--spotify-green)) 100%);
  color: var(--ddf-white);
  font-family: var(--ddf-font);
}

p {
  margin-top: 0.6em;
  margin-bottom: 0.4em;
  text-align: justify;
  line-height: 1.5;

  a {
    color: inherit;
    z-index: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 8px;
    text-decoration-color: var(--link-background-color);
    text-underline-offset: -3px;
    text-decoration-skip-ink: none;
    transition: all .2s ease-in-out;

    &:hover {
      text-decoration-color: var(--link-background-color-active);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.25em;
  margin-bottom: .5em;
}

.button,
button[type=button] {
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 999em;
  background-color: var(--ddf-white);
  color: var(--ddf-black);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: all ease 300ms;

  &.button--icon {
    padding: 0.8em;
    line-height: 0;

    svg {
      width: 2em;
      height: 2em;
    }
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/roboto-condensed-v25-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/roboto-condensed-v25-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}